/* Stylingen som ska läggas på hela sidan */
*{
    box-sizing: border-box;
    margin:0.5rem;
    padding:0;
}

/* Denna font finns inte, så jag importerar den. */
@font-face {
    font-family: 'Candara';
    src: url('fonts/Candara.woff2') format('woff2'),
         url('fonts/Candara.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Lägger direkt font-family fr text så att jag inte behöver upprepa denna biten kod fler gånger än en gång. */
h1, h2, h3, h4, h5, h6{
    font-family:Arial, Helvetica, sans-serif;
}

/* Typsnitt på alla ul,ol,li,caption, tr,td och p-elementen  */
p,ul,ol,li,caption,tr,td{
    font-family: 'Candara', Verdana, sans-serif;
}

#p-presentation-text{
    padding:0.5rem 0 0.5rem 0;
}

/* Stylar alla ul likadant. */
.lista{
    padding: 1rem 0 1rem 2rem;
}

/* Ta bort punkten på varje list-element. */
.li-ekonomi{
    list-style-type: none;
}

/* stylar rubriken ovanför tabellerna */
.tabellRubrik{
    font-weight:bold;
    text-align:left;
    margin-left:0; 
}

/* tabell1 styling */
.tabell1{
    background-color: #ffcccc;
    border: solid 1px black;
    padding: 0.3rem;
    margin: 0 1rem 1rem 1rem;
}

/* tabell2 styling */
.tabell2{
    background-color:#ffcc99;
    border: solid 1px black;
    padding: 0.3rem;
    margin: 1rem;
    line-height: 1.4rem;
}

/* Styla innuti tabell2 för att få rätt styling. */
.tabellHeader{
    border-bottom:1px solid black;
}

.foot{
    background-color:black;
    color: rgb(233, 233, 233);
    font-size:0.8rem;
    font-style: italic;
}

/* Käll-text till höger. */
#source{
    color: #009900;
    text-align: right;
    padding: 0 0 1rem 0;
    font-size: 12px;
}

#sourceLink{
    transition: color ease 0.2s;
}

#sourceLink:hover{
    color:#0ab70a;
}